.todo {
  background-color: var(--bs-gray-500);
  border: 1px solid var(--bs-white);
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);

  span {
    display: block;
  }
  .todoName {
    font-weight: bold;
  }
  .todoCompleted {
    text-decoration: line-through;
  }
  .todoDescription {
    color: theme-color("primary");
  }
}
.todoFaded {
  opacity: .5;
}
.btnEnd {
  margin-left: 10px;
}
.addBtn {
  margin: 10px;
}
