.toast {
  animation-duration: 0.5s;
  animation-name: toastIn;
  background: red;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  height: 100px;
  position: fixed;
  top: 20px;
  width: 300px;
  display: block;
  z-index: 10000;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.toastIn {
  animation-name: toastIn;
  top: 20px;
}
.toastOut {
  animation-name: toastOut;
  top: -100px;
}
.closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
}
.messageDisplay {
  left: 10px;
  position: absolute;
  top: 30px;
  width: 280px;
}
@keyframes toastIn {
  from {
    top: -100px;
  }
  to {
    top: 20px;
  }
}

@keyframes toastOut {
  from {
    top: 20px;
  }
  to {
    top: -100px;
  }
}
